* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@font-face {
    font-family: "Higure Gothic M";
    src: url("../fonts/HigureGothic-Medium.ttf") format("truetype");
}

:root {
    --color--bg: #FFFAF7;
    --color--bg-change: #FFF2EC;
    --color--text: #2B2B2B;
    --color--button: #65B98C;
    --color--button-text: #fff;

    --font-main: "Higure Gothic M", sans-serif;

    --shadow-card: 0 0 4px 0 rgba(0, 0, 0, 0.5);
}

body {
    font-family: var(--font-main);
    color: var(--color--text);
    background-color: var(--color--bg);
    line-height: 1.8;
    letter-spacing: 0.1em;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-size: inherit;
    font-weight: inherit;
}

img {
    max-width: 100%;
    height: auto;
    display: block;
}

a {
    color: inherit;
    text-decoration: none;
}

ul {
    list-style: none;
}

.header__title {
    font-size: 2rem;
    margin-left: 2rem;
}

.background--change {
    background-color: var(--color--bg-change);
}

.hero {
    padding: 5rem;
}

.hero__inner {
    display: grid;
    gap: 5rem;
}

.hero__body {
    display: grid;
    grid-template-columns: 1fr 440px;
    position: relative;
    align-items: center;
}

.hero__greeting {
    position: absolute;
    top: 0;
    left: -30px;
}

.hero__title {
    font-size: 2.5rem;
    margin-bottom: 1.5rem;
}


.hero__image {
    position: relative;
    width: 440px;
    max-width: 100%;
    z-index: 1;
}

.hero__image::after {
    content: "";
    position: absolute;
    width: 400px;
    height: 350px;
    background-image: url(../images/pattern_hero.svg);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    z-index: -1;
    top: -24px;
    right: -15px;
}

.hero__buttons {
    display: flex;
    justify-content: center;
    gap: 3rem;
}

.button {
    background-color: var(--color--button);
    color: var(--color--button-text);
    display: inline-grid;
    place-items: center;
    min-width: 200px;
    min-height: 55px;
    border-radius: 30px;
    text-align: center;
    place-items: center;
}

.button--reverse {
    background-color: var(--color--button-text);
    color: var(--color--text);
    border: solid 2px var(--color--button);
}