* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@font-face {
    font-family: "Higure Gothic M";
    src: url("../fonts/HigureGothic-Medium.ttf") format("truetype");
}

:root {
    --color--bg: #FFFAF7;
    --color--bg-change: #FFF2EC;
    --color--text: #2B2B2B;
    --color--button: #65B98C;
    --color--button-text: #fff;
    --color--tag-html: #8565B9;
    --color--tag-css: #B99A65;
    --color--tag-js: #B96565;
    --color--tag-figma: #65AAB9;

    --font-main: "Higure Gothic M", sans-serif;

    --shadow-card: 0 0 4px 0 rgba(0, 0, 0, 0.5);
}

body {
    font-family: var(--font-main);
    color: var(--color--text);
    background-color: var(--color--bg);
    line-height: 1.8;
    letter-spacing: 0.1em;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-size: inherit;
    font-weight: inherit;
}

img {
    max-width: 100%;
    height: auto;
    display: block;
}

a {
    color: inherit;
    text-decoration: none;
}

ul {
    list-style: none;
}

.header__title {
    font-size: 2rem;
    margin-left: 2rem;
}

.background--change {
    background-color: var(--color--bg-change);
}

section {
    padding: 5rem 0;
}

.hero {
    padding: 7rem 5rem;
}

.hero__inner {
    display: grid;
    gap: 5rem;
}

.hero__body {
    display: grid;
    gap: 1rem;
    grid-template-columns: 1fr 440px;
    position: relative;
    align-items: center;
}

.hero__greeting {
    position: absolute;
    top: -30px;
    left: -50px;
}

.hero__title {
    font-size: 2.5rem;
    margin-bottom: 1.5rem;
}

.hero__text {
    line-height: 2;
}

.hero__image {
    position: relative;
    width: 440px;
    max-width: 100%;
    z-index: 1;
}

.hero__image::after {
    content: "";
    position: absolute;
    width: 400px;
    height: 350px;
    background-image: url(../images/pattern_hero.svg);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    z-index: -1;
    top: -24px;
    right: -15px;
}

.hero__buttons {
    display: flex;
    justify-content: center;
    gap: 3rem;
}

.button {
    background-color: var(--color--button);
    color: var(--color--button-text);
    display: inline-grid;
    place-items: center;
    min-width: 200px;
    min-height: 55px;
    border-radius: 500px;
    text-align: center;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    border: solid 2px #52A377;
}

.button:hover {
    transform: translateY(-3px);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

.button--reverse {
    background-color: var(--color--button-text);
    color: var(--color--text);
    border: solid 2px var(--color--button);
}

.section-heading {
    display: grid;
    justify-items: center;
}

.section-heading__label,
.work-card__tag {
    display: inline-grid;
    place-items: center;
    text-align: center;
    min-width: fit-content;
    color: var(--color--button);
    background-color: var(--color--button-text);
    padding: .1rem 1.2rem;
    border-radius: 10px;
    box-shadow: var(--shadow-card);
}

.section-heading__title {
    display: inline-block;
    font-size: 2rem;
    position: relative;
}

.section-heading__title::after {
    content: "";
    position: absolute;
    height: 2px;
    width: 100%;
    background-color: var(--color--button);
    bottom: -2px;
    left: 0;
}

.works {
    display: grid;
    place-items: center;
}

.works__list {
    display: grid;
    grid-template-columns: repeat(3, minmax(0, 400px));
    justify-content: center;
    gap: 1rem;
    margin: 4rem 0;
    padding: 0 1rem;
}

.work-card {
    width: 100%;
    max-width: 400px;
    padding: 1rem;
    background-color: var(--color--button-text);
    border-radius: 15px;
    box-shadow: var(--shadow-card);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.work-card:hover {
    transform: translateY(-4px);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

.work-card__image img {
    border-radius: 15px;
}

.work-card__body {
    display: grid;
    gap: 1rem;
    height: 100%;
    grid-template-rows: auto auto auto 1fr auto;
}

.work-card__tags {
    display: flex;
    font-size: 13px;
    gap: .5rem;
}

.tag--html {
    color: var(--color--tag-html);
}

.tag--css {
    color: var(--color--tag-css);
}

.tag--js {
    color: var(--color--tag-js);
}

.tag--figma {
    color: var(--color--tag-figma);
}

.work-card__title {
    font-size: 1.5rem;
    position: relative;
    display: inline-block;
}

.work-card__title::after {
    content: "";
    position: absolute;
    height: 2px;
    width: 100%;
    background-color: var(--color--button);
    bottom: -2px;
    left: 0;
}

.work-card__buttons {
    display: flex;
    margin-top: 1.5rem;
    justify-content: space-evenly;
    align-self: end;
}

.work-card__button {
    min-width: 170px;
}

.profile__card {
    display: grid;
    gap: 3rem;
    align-items: center;
    grid-template-columns: 200px 1fr;
    background-color: var(--color--button-text);
    border-radius: 15px;
    box-shadow: var(--shadow-card);
    margin: 4rem;
    padding: 3rem 2rem;
}

.profile__name {
    font-size: 2rem;
}

.profile__meta {
    margin-bottom: 3rem;
}

.skills__list {
    display: grid;
    grid-template-columns: repeat(3, minmax(0,200px));
    place-content: center;
    gap: 2rem;
    padding: 5rem;
}

.skills__item {
    display: flex;
    gap: 1rem;
    padding: .5rem 1rem;
    height: fit-content;
    max-width: 200px;
    border: solid 2px #C3C3C3;
    border-radius: 15px;
    background-color: var(--color--button-text);
    align-items: center;
}

.skills__icon {
    height: 32px;
}

.contact__list {
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin: 5rem 0;
    padding: 0 5rem;
    gap: 3rem;
}

.contact__item {
    display: grid;
    grid-template-columns: 70px 1fr;
    align-items: center;
    gap: 2rem;
    padding: 1rem 2rem;
    background-color: var(--color--bg);
    border: solid 2px var(--color--button);
    border-radius: 15px;
}

.contact__icon {
    height: 70px;
}

.contact__title {
    font-size: 1.5rem;
}

.contact__link {
    border-bottom: 1.5px solid var(--color--text);
}

.footer {
    text-align: center;
    padding: .5rem 0;
}