.work-detail-hero {
    padding: 5rem 2.5rem;
}

.work-detail-hero__body {
    grid-template-columns: 1fr 600px;
}

/* .hero__top--button {
    position: absolute;
    top: -70px;
    left: 0;
}

.top--button__inner {
    position: relative;
}

.top--button__text {
    position: absolute;
    top: 0;
    right: 0;
} */

.work-detail-hero__image {
    width: 600px;
    overflow: hidden;
    border-radius: 25px;
    border: 2px solid var(--color--text);
}

.work-detail-hero__image img {
    width: 100%;
}

.work-detail-hero__sentence {
    display: grid;
    gap: 2rem;
}

.work-detail-hero__title {
    margin: 0;
}

.work-detail-hero__buttons {
    margin-top: 2rem;
    gap: 2rem;
}

.work-detail-hero__button {
    min-width: 250px;
    min-height: 55px;
}

/* 課題セクション */
.work-detail__section-heading {
    position: relative;
    width: fit-content;
    grid-template-columns: auto 1fr;
    align-items: center;
    margin: 0 auto;
    gap: 2.5rem;
}

.work-detail__section-heading::after {
    content: "";
    position: absolute;
    height: 2px;
    width: calc(100% + 16px);
    background-color: var(--color--button);
    bottom: -10px;
    left: -8px;
}

.work-detail__section-heading--title {
    font-size: 2rem;
}

.work-problem__inner {
    display: grid;
    margin: 6rem 6rem 0;
    gap: 2rem;
    place-content: center;
}

.work-problem__card {
    display: grid;
    grid-template-columns: 100px 1fr;
    gap: 2rem;
    align-items: center;
}

.work-problem__card:not(:last-child) {
    border-bottom: 2px solid #C3C3C3;
    padding-bottom: 2rem;
}

.work-problem__card--description {
    display: grid;
    gap: .5rem;
}

.work-problem__card--title {
    font-size: 1.5rem;
}

/* 解決方針セクション */

.work-solution__inner {
    display: grid;
    grid-template-columns: repeat(2, minmax(0, 450px));
    gap: 1.5rem;
    place-content: center;
    margin-top: 6rem;
}

.work-solution__card {
    display: grid;
    position: relative;
    background-color: var(--color--button-text);
    gap: 1rem;
    padding: 2rem;
    min-height: 250px;
    text-align: center;
    border-radius: 15px;
    border: 2px solid #C3C3C3;
}

.work-solution__card--number {
    position: absolute;
    top: 0;
    left: 10px;
    font-size: 1.5rem;
    color: var(--color--button);
}

.work-solution__card--title {
    font-size: 2.25rem;
}

/* デザインのポイントセクション */

.work-design-feature__inner {
    display: flex;
    justify-content: space-evenly;
    margin-top: 6rem;
    width: 100%;
}

.work-design-feature__card {
    display: grid;
    min-height: 400px;
    width: 390px;
    gap: 1rem;
    padding: 2rem 1rem;
    justify-items: center;
    background-color: var(--color--button-text);
    text-align: center;
    border-radius: 15px;
    border: 2px solid #C3C3C3;
}

.work-design-feature__color-palette {
    display: flex;
    gap: 1.5rem;
}

.work-design-feature__color-item {
    display: grid;
    justify-items: center;
}

.work-design-feature__color {
    display: block;
    width: 4.4rem;
    aspect-ratio: 1;
    border-radius: 50px;
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.4);
}

.work-design-feature__color--bg {
    background-color: #F5F1E8;
}

.work-design-feature__color--accent {
    background-color: #209F4B;
}

.work-design-feature__color--text {
    background-color: #2B2B2B;
}

.work-design-feature__color-name {
    line-height: 1.5;
}

.work-design-feature__card--img {
    width: 100%;
    height: fit-content;
    overflow: hidden;
    border-radius: 15px;
    border: 2px solid #C3C3C3;
}

.work-design-feature__card--img img {
    width: 100%;
}

.work-design-feature__card--logo {
    width: 140px;
    aspect-ratio: 1;
}

.work-design-feature__card--title {
    font-size: 1.5rem;
}